@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;   
    background: #59c173; /* fallback for old browsers */
    background: #FFFBEB; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1280' preserveAspectRatio='none' viewBox='0 0 1920 1280'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M28.89 527.4L124.32 527.4L124.32 622.83L28.89 622.83z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M407.58 919.86 a117.78 117.78 0 1 0 235.56 0 a117.78 117.78 0 1 0 -235.56 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1088.87 972.35L1161.98 972.35L1161.98 1045.46L1088.87 1045.46z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1702.68 1170.8L1730.1 1170.8L1730.1 1198.22L1702.68 1198.22z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M210.82 255.08L320.08 255.08L320.08 364.34L210.82 364.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1471.54 282.79a6.41 6.41 0 1 0-11.4 5.86z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M327.12 792.14L430.73 792.14L430.73 877.2L327.12 877.2z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M14.24 714.37L89.35 714.37L89.35 837.93L14.24 837.93z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M728.12 1088.22 a109.24 109.24 0 1 0 218.48 0 a109.24 109.24 0 1 0 -218.48 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1406.35 764.6 a115.79 115.79 0 1 0 231.58 0 a115.79 115.79 0 1 0 -231.58 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1576.38 1154.15L1690.95 1154.15L1690.95 1268.72L1576.38 1268.72z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M747.17 837.16L768.67 837.16L768.67 880.23L747.17 880.23z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M143.71 381.8a70.57 70.57 0 1 0-9.43-140.83z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1846.45 1123.24a56.33 56.33 0 1 0-36.49 106.59z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M824.48 490.67L921.46 490.67L921.46 587.65L824.48 587.65z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M708.9 1201.69a34.37 34.37 0 1 0 55.82 40.12z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1577.54 95.29a28.41 28.41 0 1 0-25.08-50.98z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M92.2 1130.27L205.34 1130.27L205.34 1207.88L92.2 1207.88z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M16.69 289.69L38.07 289.69L38.07 311.07L16.69 311.07z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1920' height='1280' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position:center ;

  }
  .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
  }
  
  /* CSS */
  .button-53 {
    background-color: #3dd1e7;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-53:focus {
    outline: 0;
  }
  h1{
    font-size: 4rem;
    color: lightsalmon;
  }
  p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(103, 227, 159);
    width: 50vw;
  }
  .text{
    font-size: 1.2rem;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  .button-53:after {
    content: "";
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }

  .button-53:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  .image{
      margin: 20px;
      background-color: wheat;
      transform: rotate(-5deg);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .image img{
      transform: rotate(4deg);
    width: 25vw;
  }
  @media only screen  and (max-width:480px){
    .button-53 {
        padding: 0.75rem 3rem;
        font-size: 1.25rem;
      }
    .text{
        width: 90vw;
        font-size: 1rem;
        color: black;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
      h1{
        font-size: 2rem;
        color: lightsalmon;
        margin: 10px;
      }
      p{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(103, 227, 159);
        width: 50vw;
      }
      .image{
        margin: 20px;
        background-color: wheat;
        transform: rotate(-5deg);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .image img{
        transform: rotate(4deg);
      width: 75vw;
    }
  }
  @media only screen  and (min-width:480px)and (max-width:1200px) {
    .button-53 {
      padding: 0.75rem 3rem;
      font-size: 1.25rem;
    }
    .text{
        font-size: 1rem;
        color: black;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
      .image{
        background-color: wheat;
        transform: rotate(-5deg);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .image img{
        transform: rotate(4deg);
      width: 50vw;
    }
    h1{
        font-size: 2rem;
        color: lightsalmon;
      }
      p{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(103, 227, 159);
        width: 51vw;
      }
  }
  